---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?limit=2&signature=86d07223581063a123804f3ecea3f41b124f77c22a91f3a5b3ab0c59b8288cc4&symbol=ETHBTC&timestamp=1544948714464
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mbx-Apikey:
      - RTvmWlTPk0C4XNaGKXI9qXRBNBvGjbhNHzbWsqX7NoODQak1Xu0VZTTlh4qHTnTS
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol": "BNBBTC", "id": 28457, "orderId": 100234, "price": "4.00000100",
        "qty": "12.00000000", "commission": "10.10000000", "commissionAsset": "BNB",
        "time": 1499865549590, "isBuyer": true, "isMaker": false, "isBestMatch": true}]'
  recorded_at: Sun, 16 Dec 2018 08:25:15 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?limit=2&signature=22d5f16928c1f03222c0620c2904582f05c21fce338a4800638b79e2e9ba2abe&symbol=ETHBTC&timestamp=1546555828797
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mbx-Apikey:
      - '1234'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-2014,"msg":"API-key format invalid."}'
  recorded_at: Thu, 03 Jan 2019 22:50:31 GMT
[...]
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?limit=2&signature=56673019d1435b37dff97a9e49d4591212d682a5e4052e9a0a3118ef06ad107b&symbol=ETHBTC&timestamp=1546560013630
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mbx-Apikey:
      - RTvmWlTPk0C4XNaGKXI9qXRBNBvGjbhNHzbWsqX7NoODQak1Xu0VZTTlh4qHTnTS
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Fri, 04 Jan 2019 00:00:14 GMT
recorded_with: VCR 4.0.0
