---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?limit=2&signature=86d07223581063a123804f3ecea3f41b124f77c22a91f3a5b3ab0c59b8288cc4&symbol=ETHBTC&timestamp=1544948714464
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mbx-Apikey:
      - RTvmWlTPk0C4XNaGKXI9qXRBNBvGjbhNHzbWsqX7NoODQak1Xu0VZTTlh4qHTnTS
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol": "BNBBTC", "id": 28457, "orderId": 100234, "price": "4.00000100",
        "qty": "12.00000000", "commission": "10.10000000", "commissionAsset": "BNB",
        "time": 1499865549590, "isBuyer": true, "isMaker": false, "isBestMatch": true}]'
  recorded_at: Sun, 16 Dec 2018 08:25:15 GMT
recorded_with: VCR 4.0.0
